@using NEWS.Web.Services
@model NEWS.Web.ViewModels.MainPageViewModel
@{
    ViewBag.Title = "خانه";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";

    int j = 0;
}
@section TrendNEWS
{

    @foreach (var item in Model.TrendNEWS)
    {
        <li>
            <a href="@Url.Action("Post","Home",new {ID = item.PostID})" title="@item.Title">@item.Title</a>
        </li>
    }

}

<!-- slider -->
<ul class="slider">

    @foreach (var item in Model.TrendNEWS)
    {
        <li class="slide">
            <img src='@Url.Content(item.ImageUrl)' alt='@item.Title'>
            <div class="slider_content_box">
                <ul class="post_details simple">
                    <li class="category"><a href="@Url.Action("Category","Home",new {ID = item.CategoryID})" title="@item.CategoryName">@item.CategoryName</a></li>
                    <li class="date">
                        @item.CreatePost.Value.ToPeString("dddd, dd,MMMM,yyyy")
                    </li>
                </ul>
                <h2><a href="@Url.Action("Post","Home",new {ID = item.PostID})" title="@item.Title">@item.Title</a></h2>
                <p class="clearfix">@item.ShortDescription</p>
            </div>
        </li>
    }

</ul>
<div class="page">
    <div class="page_layout page_margin_top clearfix">
        <div class="row">
            <div class="column column_2_3">
                <h4 class="box_header">آخرین اخبار</h4>
                <div class="row">
                    <ul class="blog column column_1_2">

                        @for (int i = 0; i < 2; i++)
                        {
                            var item = Model.LastNEWS[j];


                            <li class="post">
                                <a href="@Url.Action("Post", "Home", new {ID = item.PostID})" title="@item.Title">
                                    @if (item.IsGallery == true)
                                    {
                                        <span class="icon gallery"></span>
                                    }
                                    <img src='@Url.Content(item.ImageUrl)' alt='@item.Title' style="width: 330px; height: 242px;">
                                </a>
                                <h2 class="with_number">
                                    <a href="@Url.Action("Post", "Home", new {ID = item.PostID})" title="@item.Title">@item.Title</a>
                                    <a class="comments_number" href="post.html#comments_list" title="2 comments">2<span class="arrow_comments"></span></a>
                                </h2>
                                <ul class="post_details">
                                    <li class="category"><a href="@Url.Action("Category", "Home", new {ID = item.CategoryID})" title="@item.CategoryName">@item.CategoryName</a></li>
                                    <li class="date">
                                        @item.CreatePost.Value.ToPeString("dddd, dd,MMMM,yyyy")
                                    </li>
                                </ul>
                                <p>@item.ShortDescription</p>
                                <a class="read_more" href="@Url.Action("Post", "Home", new {ID = item.PostID})" title="ادامه مطلب"><span class="arrow"></span><span>ادامه مطلب</span></a>
                            </li>

                            j++;
                        }
                    </ul>
                    <ul class="blog column column_1_2">

                        @for (int i = 0; i < 2; i++)
                        {
                            var item = Model.LastNEWS[j];


                            <li class="post">
                                <a href="@Url.Action("Post", "Home", new {ID = item.PostID})" title="@item.Title">
                                    @if (item.IsGallery == true)
                                    {
                                        <span class="icon gallery"></span>
                                    }
                                    <img src='@Url.Content(item.ImageUrl)' alt='@item.Title' style="width: 330px; height: 242px;">
                                </a>
                                <h2 class="with_number">
                                    <a href="@Url.Action("Post","Home",new {ID = item.PostID})" title="@item.Title">@item.Title</a>
                                    <a class="comments_number" href="post.html#comments_list" title="2 comments">2<span class="arrow_comments"></span></a>
                                </h2>
                                <ul class="post_details">
                                    <li class="category"><a href="@Url.Action("Category","Home",new {ID = item.CategoryID})" title="@item.CategoryName">@item.CategoryName</a></li>
                                    <li class="date">
                                        @item.CreatePost.Value.ToPeString("dddd, dd,MMMM,yyyy")
                                    </li>
                                </ul>
                                <p>@item.ShortDescription</p>
                                <a class="read_more" href="@Url.Action("Post","Home",new {ID = item.PostID})" title="ادامه مطلب"><span class="arrow"></span><span>ادامه مطلب</span></a>
                            </li>


                            j++;
                        }
                    </ul>
                </div>

                <div class="row page_margin_top_section">
                    <h4 class="box_header">آخرین اخبار سیاست</h4>
                    <div class="row">
                        <ul class="blog column column_1_2">

                            @for (int i = 0; i < 1; i++)
                            {
                                j = 0;
                                var item = Model.PoliticNEWS[j];

                                <li class="post">
                                    <a href="@Url.Action("Post", "Home", new {ID = item.PostID})" title="@item.Title">
                                        @if (item.IsGallery == true)
                                        {
                                            <span class="icon gallery"></span>
                                        }
                                        <img src='@Url.Content(item.ImageUrl)' alt='@item.Title'>
                                    </a>
                                    <h2 class="with_number">
                                        <a href="@Url.Action("Post", "Home", new {ID = item.PostID})" title="@item.Title">@item.Title</a>
                                        <a class="comments_number" href="post_gallery.html#comments_list" title="2 comments">2<span class="arrow_comments"></span></a>
                                    </h2>
                                    <ul class="post_details">
                                        <li class="category"><a href="@Url.Action("Category", "Home", new {ID = item.CategoryID})" title="@item.CategoryName">@item.CategoryName</a></li>
                                        <li class="date">
                                            @item.CreatePost.Value.ToPeString("dddd, dd,MMMM,yyyy")
                                        </li>
                                    </ul>
                                    <p>@item.ShortDescription</p>
                                    <a class="read_more" href="@Url.Action("Post", "Home", new {ID = item.PostID})" title="ادامه مطلب"><span class="arrow"></span><span>ادامه مطلب</span></a>
                                </li>

                                j++;
                            }

                        </ul>
                        <div class="column column_1_2">
                            <ul class="blog small clearfix">

                                @for (int i = 0; i < 4; i++)
                                {

                                    var item = Model.PoliticNEWS[j];

                                    <li class="post">
                                        <a href="@Url.Action("Post", "Home", new {ID = item.PostID})" title="@item.Title">
                                            @if (item.IsGallery == true)
                                            {
                                                <span class="icon gallery"></span>
                                            }
                                            <img src='@Url.Content(item.ImageUrl)' alt='@item.Title' style="width: 100px; height: 100px;">
                                        </a>
                                        <div class="post_content">
                                            <h5>
                                                <a href="@Url.Action("Post", "Home", new {ID = item.PostID})" title="@item.Title">@item.Title</a>
                                            </h5>
                                            <ul class="post_details simple">
                                                <li class="category"><a href="@Url.Action("Category", "Home", new {ID = item.CategoryID})" title="@item.CategoryName">@item.CategoryName</a></li>
                                                <li class="date">
                                                    @item.CreatePost.Value.ToPeString("dddd, dd,MMMM,yyyy")
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    j++;
                                }

                            </ul>
                            <a class="more page_margin_top" href="@Url.Action("Category","Home",new {ID = 1})">اخبار بیشتر سیاست</a>
                        </div>
                    </div>
                </div>
                <div class="row page_margin_top_section">
                    <h4 class="box_header">Top Posts</h4>
                    <div class="tabs no_scroll margin_top_10 clearfix">
                        <ul class="tabs_navigation small clearfix">
                            <li>
                                <a href="#most-recent" title="Most Recent">
                                    Most Recent
                                </a>
                            </li>
                            <li>
                                <a href="#most-read" title="بیشترین مطالعه شده">
                                    بیشترین مطالعه شده
                                </a>
                            </li>
                            <li>
                                <a href="#most-نظرات" title="Most نظرات">
                                    Most نظرات
                                </a>
                            </li>
                        </ul>
                        <div id="most-recent">
                            <div class="horizontal_carousel_container page_margin_top">
                                <ul class="blog horizontal_carousel page_margin_top autoplay-0 scroll-1 navigation-1 easing-easeInOutQuint duration-750">
                                    <li class="post">
                                        <a href="post.html" title="High Altitudes May Aid Weight Control">
                                            <img src='~/Assets/images/samples/330x242/image_11.jpg' alt='img'>
                                        </a>
                                        <h5><span class="number">1.</span><a href="post.html" title="High Altitudes May Aid Weight Control">High Altitudes May Aid Weight Control</a></h5>
                                        <ul class="post_details simple">
                                            <li class="category"><a href="category_health.html" title="HEALTH">HEALTH</a></li>
                                            <li class="date">
                                                10:11 PM, Feb 02
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="post">
                                        <a href="post.html" title="Climate Change Debate While Britain Floods">
                                            <img src='~/Assets/images/samples/330x242/image_14.jpg' alt='img'>
                                        </a>
                                        <h5><span class="number">2.</span><a href="post.html" title="Climate Change Debate While Britain Floods">Climate Change Debate While Britain Floods</a></h5>
                                        <ul class="post_details simple">
                                            <li class="category"><a href="category_world.html" title="WORLD">WORLD</a></li>
                                            <li class="date">
                                                10:11 PM, Feb 02
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="post">
                                        <a href="post_small_image.html" title="Escape From Planet Earth: The Movie">
                                            <img src='~/Assets/images/samples/330x242/image_02.jpg' alt='img'>
                                        </a>
                                        <h5><span class="number">3.</span><a href="post_small_image.html" title="Escape From Planet Earth: The Movie">Escape From Planet Earth: The Movie</a></h5>
                                        <ul class="post_details simple">
                                            <li class="category"><a href="category_lifestyle.html" title="LIFESTYLE">LIFESTYLE</a></li>
                                            <li class="date">
                                                10:11 PM, Feb 02
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="post first">
                                        <a href="post.html" title="Built on Brotherhood, Club Lives Up to Name">
                                            <img src='~/Assets/images/samples/330x242/image_09.jpg' alt='img'>
                                        </a>
                                        <h5><span class="number">4.</span><a href="post.html" title="Built on Brotherhood, Club Lives Up to Name">Built on Brotherhood, Club Lives Up to Name</a></h5>
                                        <ul class="post_details simple">
                                            <li class="category"><a href="category_sports.html" title="SPORTS">SPORTS</a></li>
                                            <li class="date">
                                                10:11 PM, Feb 02
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="most-read">
                            <div class="horizontal_carousel_container page_margin_top">
                                <ul class="blog horizontal_carousel page_margin_top autoplay-0 scroll-1 navigation-1 easing-easeInOutQuint duration-750">
                                    <li class="post">
                                        <a href="post.html" title="The Public Health Crisis Hiding in Our Food">
                                            <img src='~/Assets/images/samples/330x242/image_10.jpg' alt='img'>
                                        </a>
                                        <h5><span class="number">1.</span><a href="post.html" title="The Public Health Crisis Hiding in Our Food">The Public Health Crisis Hiding in Our Food</a></h5>
                                        <ul class="post_details simple">
                                            <li class="category"><a href="category_health.html" title="HEALTH">HEALTH</a></li>
                                            <li class="date">
                                                10:11 PM, Feb 02
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="post">
                                        <a href="post.html" title="Drug Makers Hunt for Mergers">
                                            <img src='~/Assets/images/samples/330x242/image_07.jpg' alt='img'>
                                        </a>
                                        <h5><span class="number">2.</span><a href="post.html" title="Drug Makers Hunt for Mergers">Drug Makers Hunt for Mergers</a></h5>
                                        <ul class="post_details simple">
                                            <li class="category"><a href="category_world.html" title="WORLD">WORLD</a></li>
                                            <li class="date">
                                                10:11 PM, Feb 02
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="post">
                                        <a href="post.html" title="Escape From Planet Earth: The Movie">
                                            <img src='~/Assets/images/samples/330x242/image_13.jpg' alt='img'>
                                        </a>
                                        <h5><span class="number">3.</span><a href="post.html" title="Escape From Planet Earth: The Movie">Escape From Planet Earth: The Movie</a></h5>
                                        <ul class="post_details simple">
                                            <li class="category"><a href="category_lifestyle.html" title="LIFESTYLE">LIFESTYLE</a></li>
                                            <li class="date">
                                                10:11 PM, Feb 02
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="post first">
                                        <a href="post_soundcloud.html" title="High Altitudes May Aid Weight Control">
                                            <img src='~/Assets/images/samples/330x242/image_05.jpg' alt='img'>
                                        </a>
                                        <h5><span class="number">4.</span><a href="post_soundcloud.html" title="High Altitudes May Aid Weight Control">High Altitudes May Aid Weight Control</a></h5>
                                        <ul class="post_details simple">
                                            <li class="category"><a href="category_sports.html" title="SPORTS">SPORTS</a></li>
                                            <li class="date">
                                                10:11 PM, Feb 02
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="most-نظرات">
                            <div class="horizontal_carousel_container page_margin_top">
                                <ul class="blog horizontal_carousel page_margin_top autoplay-0 scroll-1 navigation-1 easing-easeInOutQuint duration-750">
                                    <li class="post">
                                        <a href="post.html" title="Escape From Planet Earth: The Movie">
                                            <img src='~/Assets/images/samples/330x242/image_13.jpg' alt='img'>
                                        </a>
                                        <h5><span class="number">1.</span><a href="post.html" title="Escape From Planet Earth: The Movie">Escape From Planet Earth: The Movie</a></h5>
                                        <ul class="post_details simple">
                                            <li class="category"><a href="category_health.html" title="HEALTH">HEALTH</a></li>
                                            <li class="date">
                                                10:11 PM, Feb 02
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="post">
                                        <a href="post.html" title="Struggling Nuremberg Sack Coach Verbeek">
                                            <img src='~/Assets/images/samples/330x242/image_06.jpg' alt='img'>
                                        </a>
                                        <h5><span class="number">2.</span><a href="post.html" title="Struggling Nuremberg Sack Coach Verbeek">Struggling Nuremberg Sack Coach Verbeek</a></h5>
                                        <ul class="post_details simple">
                                            <li class="category"><a href="category_world.html" title="WORLD">WORLD</a></li>
                                            <li class="date">
                                                10:11 PM, Feb 02
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="post">
                                        <a href="post_small_image.html" title="Built on Brotherhood, Club Lives Up to Name">
                                            <img src='~/Assets/images/samples/330x242/image_03.jpg' alt='img'>
                                        </a>
                                        <h5><span class="number">3.</span><a href="post_small_image.html" title="Built on Brotherhood, Club Lives Up to Name">Built on Brotherhood, Club Lives Up to Name</a></h5>
                                        <ul class="post_details simple">
                                            <li class="category"><a href="category_lifestyle.html" title="LIFESTYLE">LIFESTYLE</a></li>
                                            <li class="date">
                                                10:11 PM, Feb 02
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="post first">
                                        <a href="post.html" title="High Altitudes May Aid Weight Control">
                                            <img src='~/Assets/images/samples/330x242/image_05.jpg' alt='img'>
                                        </a>
                                        <h5><span class="number">4.</span><a href="post.html" title="High Altitudes May Aid Weight Control">High Altitudes May Aid Weight Control</a></h5>
                                        <ul class="post_details simple">
                                            <li class="category"><a href="category_sports.html" title="SPORTS">SPORTS</a></li>
                                            <li class="date">
                                                10:11 PM, Feb 02
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row page_margin_top_section">
                    <div class="column column_1_2">
                        <h4 class="box_header">سیاست</h4>
                        <ul class="blog">

                            @for (int i = 0; i < 1; i++)
                            {
                                j = 0;
                                var item = Model.PoliticNEWS[j];

                                <li class="post">
                                    <a href="@Url.Action("Post", "Home", new {ID = item.PostID})" title="@item.Title">
                                        @if (item.IsGallery == true)
                                        {
                                            <span class="icon gallery"></span>
                                        }
                                        <img src='@Url.Content(item.ImageUrl)' alt='@item.Title' style="width: 330px; height: 242px;">
                                    </a>
                                    <h2 class="with_number">
                                        <a href="@Url.Action("Post", "Home", new {ID = item.PostID})" title="@item.Title">@item.Title</a>
                                        <a class="comments_number" href="post.html#comments_list" title="2 comments">2<span class="arrow_comments"></span></a>
                                    </h2>
                                    <ul class="post_details">
                                        <li class="category"><a href="@Url.Action("Category", "Home", new {ID = item.CategoryID})" title="@item.CategoryName">@item.CategoryName</a></li>
                                        <li class="date">
                                            @item.CreatePost.Value.ToPeString("dddd, dd,MMMM,yyyy")
                                        </li>
                                    </ul>
                                    <p>@item.ShortDescription</p>
                                    <a class="read_more" href="@Url.Action("Post", "Home", new {ID = item.PostID})" title="ادامه مطلب"><span class="arrow"></span><span>ادامه مطلب</span></a>
                                </li>

                                j++;
                            }



                        </ul>
                        <ul class="blog small clearfix">
                            @for (int i = 0; i < 2; i++)
                            {

                                var item = Model.PoliticNEWS[j];

                                <li class="post">
                                    <a href="@Url.Action("Post", "Home", new {ID = item.PostID})" title="@item.Title">
                                        @if (item.IsGallery == true)
                                        {
                                            <span class="icon gallery"></span>
                                        }
                                        <img src='@Url.Content(item.ImageUrl)' alt='@item.Title' style="width: 100px; height: 100px;">
                                    </a>
                                    <div class="post_content">
                                        <h5>
                                            <a href="@Url.Action("Post", "Home", new {ID = item.PostID})" title="@item.Title">@item.Title</a>
                                        </h5>
                                        <ul class="post_details simple">
                                            <li class="category"><a href="@Url.Action("Category", "Home", new {ID = item.CategoryID})" title="@item.CategoryName">@item.CategoryName</a></li>
                                            <li class="date">
                                                @item.CreatePost.Value.ToPeString("dddd, dd,MMMM,yyyy")
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                                j++;
                            }
                        </ul>
                        <a class="more page_margin_top" href="@Url.Action("Category", "Home", new {ID = 1})">ادامه مطلب</a>
                    </div>
                    <div class="column column_1_2">
                        <h4 class="box_header">اجتماع</h4>
                        <ul class="blog">

                            @for (int i = 0; i < 1; i++)
                            {
                                j = 0;
                                var item = Model.SocietyNEWS[j];

                                <li class="post">
                                    <a href="@Url.Action("Post", "Home", new {ID = item.PostID})" title="@item.Title">
                                        @if (item.IsGallery == true)
                                        {
                                            <span class="icon gallery"></span>
                                        }
                                        <img src='@Url.Content(item.ImageUrl)' alt='@item.Title' style="width: 330px; height: 242px;">
                                    </a>
                                    <h2 class="with_number">
                                        <a href="@Url.Action("Post", "Home", new {ID = item.PostID})" title="@item.Title">@item.Title</a>
                                        <a class="comments_number" href="post.html#comments_list" title="2 comments">2<span class="arrow_comments"></span></a>
                                    </h2>
                                    <ul class="post_details">
                                        <li class="category"><a href="@Url.Action("Category", "Home", new {ID = item.CategoryID})" title="@item.CategoryName">@item.CategoryName</a></li>
                                        <li class="date">
                                            @item.CreatePost.Value.ToPeString("dddd, dd,MMMM,yyyy")
                                        </li>
                                    </ul>
                                    <p>@item.ShortDescription</p>
                                    <a class="read_more" href="@Url.Action("Post", "Home", new {ID = item.PostID})" title="ادامه مطلب"><span class="arrow"></span><span>ادامه مطلب</span></a>
                                </li>

                                j++;
                            }



                        </ul>
                        <ul class="blog small clearfix">
                            @for (int i = 0; i < 2; i++)
                            {

                                var item = Model.SocietyNEWS[j];

                                <li class="post">
                                    <a href="@Url.Action("Post", "Home", new {ID = item.PostID})" title="@item.Title">
                                        @if (item.IsGallery == true)
                                        {
                                            <span class="icon gallery"></span>
                                        }
                                        <img src='@Url.Content(item.ImageUrl)' alt='@item.Title' style="width: 100px; height: 100px;">
                                    </a>
                                    <div class="post_content">
                                        <h5>
                                            <a href="@Url.Action("Post", "Home", new {ID = item.PostID})" title="@item.Title">@item.Title</a>
                                        </h5>
                                        <ul class="post_details simple">
                                            <li class="category"><a href="@Url.Action("Category", "Home", new {ID = item.CategoryID})" title="@item.CategoryName">@item.CategoryName</a></li>
                                            <li class="date">
                                                @item.CreatePost.Value.ToPeString("dddd, dd,MMMM,yyyy")
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                                j++;
                            }
                        </ul>
                        <a class="more page_margin_top" href="@Url.Action("Category", "Home", new {ID = 6})">ادامه مطلب</a>
                    </div>
                </div>
            </div>
            <div class="column column_1_3">
                <h4 class="box_header">توصیه شده ها</h4>
                <ul class="blog small_margin clearfix">
                    @for (int i = 0; i < 3; i++)
                    {
                        j = 0;
                        var item = Model.TrendNEWS[j];

                        <li class="post">
                            <a href="@Url.Action("Post", "Home", new {ID = item.PostID})" title="@item.Title">
                                @if (item.IsGallery == true)
                                {
                                    <span class="icon gallery"></span>
                                }
                                <img src='@Url.Content(item.ImageUrl)' alt='@item.Title' style="width: 510px; height: 187px;">
                            </a>
                            <div class="post_content">
                                <h5>
                                    <a href="@Url.Action("Post","Home",new {ID = item.PostID})" title="@item.Title">@item.Title</a>
                                </h5>
                                <ul class="post_details simple">
                                    <li class="category"><a href="@Url.Action("Category","Home",new {ID = item.CategoryID})" title="@item.CategoryName">@item.CategoryName</a></li>
                                    <li class="date">
                                        @item.CreatePost.Value.ToPeString("dddd, dd,MMMM,yyyy")
                                    </li>
                                </ul>
                            </div>
                        </li>


                        j++;
                    }
                </ul>
                <h4 class="box_header page_margin_top_section">آخرین اخبار</h4>
                <div class="vertical_carousel_container clearfix">
                    <ul class="blog small vertical_carousel autoplay-1 scroll-1 navigation-1 easing-easeInOutQuint duration-750">

                        @for (int i = 0; i < 5; i++)
                        {
                            j = 0;
                            var item = Model.TrendNEWS[j];

                            <li class="post">
                                <a href="@Url.Action("Post", "Home", new {ID = item.PostID})" title="@item.Title">
                                    @if (item.IsGallery == true)
                                    {
                                        <span class="icon gallery"></span>
                                    }
                                    <img src='@Url.Content(item.ImageUrl)' alt='@item.Title' style="width: 100px; height: 100px;">
                                </a>
                                <div class="post_content">
                                    <h5>
                                        <a href="@Url.Action("Post","Home",new {ID = item.PostID})" title="@item.Title">@item.Title</a>
                                    </h5>
                                    <ul class="post_details simple">
                                        <li class="category"><a href="@Url.Action("Category","Home",new {ID = item.CategoryID})" title="@item.CategoryName">@item.CategoryName</a></li>
                                        <li class="date">
                                            @item.CreatePost.Value.ToPeString("dddd, dd,MMMM,yyyy")
                                        </li>
                                    </ul>
                                </div>
                            </li>


                            j++;
                        }
                    </ul>
                </div>
                @*<div class="tabs no_scroll page_margin_top_section clearfix">
                    <ul class="tabs_navigation clearfix">
                        <li>
                            <a href="#sidebar-most-read" title="بیشترین مطالعه شده">
                                بیشترین مطالعه شده
                            </a>
                            <span></span>
                        </li>
                        <li>
                            <a href="#sidebar-most-نظرات" title="نظرات">
                                نظرات
                            </a>
                            <span></span>
                        </li>
                    </ul>
                    <div id="sidebar-most-read">
                        <ul class="blog rating page_margin_top clearfix">
                            <li class="post">
                                <a href="post_quote.html" title="Nuclear Fusion Closer to Becoming a Reality">
                                    <img src='~/Assets/images/samples/510x187/image_12.jpg' alt='img'>
                                </a>
                                <div class="post_content">
                                    <span class="number animated_element" data-value="6 257"></span>
                                    <h5><a href="post_quote.html" title="New Painkiller Rekindles Addiction Concerns">New Painkiller Rekindles Addiction Concerns</a></h5>
                                    <ul class="post_details simple">
                                        <li class="category"><a href="category_health.html" title="HEALTH">HEALTH</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="post">
                                <div class="post_content">
                                    <span class="number animated_element" data-value="5 062"></span>
                                    <h5><a href="post.html" title="New Painkiller Rekindles Addiction Concerns">New Painkiller Rekindles Addiction Concerns</a></h5>
                                    <ul class="post_details simple">
                                        <li class="category"><a href="category_world.html" title="WORLD">WORLD</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="post">
                                <div class="post_content">
                                    <span class="number animated_element" data-value="4 778"></span>
                                    <h5><a href="post.html" title="Seeking the Right Chemistry, Drug Makers Hunt for Mergers">Seeking the Right Chemistry, Drug Makers Hunt for Mergers</a></h5>
                                    <ul class="post_details simple">
                                        <li class="category"><a href="category_sports.html" title="SPORTS">SPORTS</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="post">
                                <div class="post_content">
                                    <span class="number animated_element" data-value="754"></span>
                                    <h5><a href="post_quote_2.html" title="Study Linking Illnes and Salt Leaves Researchers Doubtful">Study Linking Illnes and Salt Leaves Researchers Doubtful</a></h5>
                                    <ul class="post_details simple">
                                        <li class="category"><a href="category_science.html" title="SCIENCE">SCIENCE</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="post">
                                <div class="post_content">
                                    <span class="number animated_element" data-value="52"></span>
                                    <h5><a href="post_small_image.html" title="Syrian Civilians Trapped for Months Continue to be Evacuated">Syrian Civilians Trapped for Months Continue to be Evacuated</a></h5>
                                    <ul class="post_details simple">
                                        <li class="category"><a href="category_science.html" title="SCIENCE">SCIENCE</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <a class="more page_margin_top" href="#">نمایش بیشتر</a>
                    </div>
                    <div id="sidebar-most-نظرات">
                        <ul class="blog rating page_margin_top clearfix">
                            <li class="post">
                                <a href="post.html" title="Nuclear Fusion Closer to Becoming a Reality">
                                    <img src='~/Assets/images/samples/510x187/image_02.jpg' alt='img'>
                                </a>
                                <div class="post_content">
                                    <span class="number animated_element" data-value="70"></span>
                                    <h5><a href="post.html" title="New Painkiller Rekindles Addiction Concerns">New Painkiller Rekindles Addiction Concerns</a></h5>
                                    <ul class="post_details simple">
                                        <li class="category"><a href="category_health.html" title="HEALTH">HEALTH</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="post">
                                <div class="post_content">
                                    <span class="number animated_element" data-value="62"></span>
                                    <h5><a href="post.html" title="New Painkiller Rekindles Addiction Concerns">New Painkiller Rekindles Addiction Concerns</a></h5>
                                    <ul class="post_details simple">
                                        <li class="category"><a href="category_world.html" title="WORLD">WORLD</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="post">
                                <div class="post_content">
                                    <span class="number animated_element" data-value="30"></span>
                                    <h5><a href="post.html" title="Seeking the Right Chemistry, Drug Makers Hunt for Mergers">Seeking the Right Chemistry, Drug Makers Hunt for Mergers</a></h5>
                                    <ul class="post_details simple">
                                        <li class="category"><a href="category_sports.html" title="SPORTS">SPORTS</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="post">
                                <div class="post_content">
                                    <span class="number animated_element" data-value="25"></span>
                                    <h5><a href="post.html" title="Study Linking Illnes and Salt Leaves Researchers Doubtful">Study Linking Illnes and Salt Leaves Researchers Doubtful</a></h5>
                                    <ul class="post_details simple">
                                        <li class="category"><a href="category_science.html" title="SCIENCE">SCIENCE</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="post">
                                <div class="post_content">
                                    <span class="number animated_element" data-value="4"></span>
                                    <h5><a href="post_soundcloud.html" title="Syrian Civilians Trapped for Months Continue to be Evacuated">Syrian Civilians Trapped for Months Continue to be Evacuated</a></h5>
                                    <ul class="post_details simple">
                                        <li class="category"><a href="category_science.html" title="SCIENCE">SCIENCE</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <a class="more page_margin_top" href="#">نمایش بیشتر</a>
                    </div>
                </div>*@
                <h4 class="box_header page_margin_top_section">بهترین نویسندگان</h4>
                <ul class="authors rating clearfix">
                    <li class="author">
                        <a class="thumb" href="author.html" title="Debora Hilton">
                            <img src='~/Assets/images/samples/Team_100x100/image_01.jpg' alt='img'>
                            <span class="number animated_element" data-value="34"></span>
                        </a>
                        <div class="details">
                            <h5><a href="author.html" title="Debora Hilton">Debora Hilton</a></h5>
                            <h6>EDITOR</h6>
                        </div>
                    </li>
                    <li class="author">
                        <a class="thumb" href="author.html" title="Anna Shubina">
                            <img src='~/Assets/images/samples/Team_100x100/image_02.jpg' alt='img'>
                            <span class="number animated_element" data-value="25"></span>
                        </a>
                        <div class="details">
                            <h5><a href="author.html" title="Anna Shubina">Anna Shubina</a></h5>
                            <h6>EDITOR</h6>
                        </div>
                    </li>
                    <li class="author">
                        <a class="thumb" href="author.html" title="Liam Holden">
                            <img src='~/Assets/images/samples/Team_100x100/image_03.jpg' alt='img'>
                            <span class="number animated_element" data-value="9"></span>
                        </a>
                        <div class="details">
                            <h5><a href="author.html" title="Liam Holden">Liam Holden</a></h5>
                            <h6>PUBLISHER</h6>
                        </div>
                    </li>
                    <li class="author">
                        <a class="thumb" href="author.html" title="Heather Dale">
                            <img src='~/Assets/images/samples/Team_100x100/image_04.jpg' alt='img'>
                            <span class="number animated_element" data-value="2"></span>
                        </a>
                        <div class="details">
                            <h5><a href="author.html" title="Heather Dale">Heather Dale</a></h5>
                            <h6>ILLUSTRATOR</h6>
                        </div>
                    </li>
                </ul>
                <h4 class="box_header page_margin_top_section">Science</h4>
                <ul class="blog small clearfix">
                    <li class="post">
                        <a href="post.html" title="Study Linking Illnes and Salt Leaves Researchers Doubtful">
                            <img src='~/Assets/images/samples/100x100/image_09.jpg' alt='img'>
                        </a>
                        <div class="post_content">
                            <h5>
                                <a href="post.html" title="Study Linking Illnes and Salt Leaves Researchers Doubtful">Study Linking Illnes and Salt Leaves Researchers Doubtful</a>
                            </h5>
                            <ul class="post_details simple">
                                <li class="category"><a href="category_science.html" title="SCIENCE">SCIENCE</a></li>
                                <li class="date">
                                    10:11 PM, Feb 02
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="post">
                        <a href="post.html" title="Syrian Civilians Trapped For Months Continue To Be Evacuated">
                            <img src='~/Assets/images/samples/100x100/image_12.jpg' alt='img'>
                        </a>
                        <div class="post_content">
                            <h5>
                                <a href="post.html" title="Syrian Civilians Trapped For Months Continue To Be Evacuated">Syrian Civilians Trapped For Months Continue To Be Evacuated</a>
                            </h5>
                            <ul class="post_details simple">
                                <li class="category"><a href="category_science.html" title="SCIENCE">SCIENCE</a></li>
                                <li class="date">
                                    10:11 PM, Feb 02
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="post">
                        <a href="post_quote.html" title="Built on Brotherhood, Club Lives Up to Name">
                            <img src='~/Assets/images/samples/100x100/image_02.jpg' alt='img'>
                        </a>
                        <div class="post_content">
                            <h5>
                                <a href="post_quote.html" title="Built on Brotherhood, Club Lives Up to Name">Built on Brotherhood, Club Lives Up to Name</a>
                            </h5>
                            <ul class="post_details simple">
                                <li class="category"><a href="category_science.html" title="SCIENCE">SCIENCE</a></li>
                                <li class="date">
                                    10:11 PM, Feb 02
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="post">
                        <a href="post_gallery.html" title="Nuclear Fusion Closer to Becoming a Reality">
                            <span class="icon small gallery"></span>
                            <img src='~/Assets/images/samples/100x100/image_01.jpg' alt='img'>
                        </a>
                        <div class="post_content">
                            <h5>
                                <a href="post_gallery.html" title="Nuclear Fusion Closer to Becoming a Reality">Nuclear Fusion Closer to Becoming a Reality</a>
                            </h5>
                            <ul class="post_details simple">
                                <li class="category"><a href="category_science.html" title="SCIENCE">SCIENCE</a></li>
                                <li class="date">
                                    10:11 PM, Feb 02
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <a class="more page_margin_top" href="#">MORE FROM SCIENCE</a>
            </div>
        </div>
    </div>
</div>
