@using NEWS.Web.Services
<!DOCTYPE html>

<html lang="fa">
<head>
    <title>@ViewBag.Title</title>


    <!--meta-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.2" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="Medic, Medical Center" />
    <meta name="description" content="Responsive Medical Health Template" />
    <!--style-->
    <link href='//fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="~/Assets/style/reset.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/style/superfish.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/style/prettyPhoto.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/style/jquery.qtip.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/style/style.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/style/menu_styles.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/style/animations.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/style/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/style/odometer-theme-default.css">
    <!--<link rel="stylesheet" type="text/css" href="~/Assets/style/dark_skin.css">-->
    <!--<link rel="stylesheet" type="text/css" href="~/Assets/style/high_contrast_skin.css">-->
    <link href="~/Assets/style/custom.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Assets/images/favicon.ico">

</head>
<!--<body class="image_1">
    <body class="image_1 overlay">
    <body class="image_2">
    <body class="image_2 overlay">
    <body class="image_3">
    <body class="image_3 overlay">
    <body class="image_4">
    <body class="image_4 overlay">
    <body class="image_5">
    <body class="image_5 overlay">
    <body class="pattern_1">
    <body class="pattern_2">
    <body class="pattern_3">
    <body class="pattern_4">
    <body class="pattern_5">
    <body class="pattern_6">
    <body class="pattern_7">
    <body class="pattern_8">
    <body class="pattern_9">
    <body class="pattern_10">-->
<body>
    <div class="site_container">

        <!--<div class="header_top_bar_container style_2 clearfix">
            <div class="header_top_bar_container style_2 border clearfix">
            <div class="header_top_bar_container style_3 clearfix">
            <div class="header_top_bar_container style_3 border clearfix">
            <div class="header_top_bar_container style_4 clearfix">
            <div class="header_top_bar_container style_4 border clearfix">
            <div class="header_top_bar_container style_5 clearfix">
            <div class="header_top_bar_container style_5 border clearfix"> -->
        <div class="header_top_bar_container clearfix">
            <div class="header_top_bar">
                <form class="search" action="search.html" method="get">
                    <input type="text" name="s" placeholder="Search..." value="جستجو..." class="search_input hint">
                    <input type="submit" class="search_submit" value="">
                </form>
                <!--<ul class="social_icons dark clearfix">
                <ul class="social_icons colors clearfix">-->
                <ul class="social_icons clearfix">
                    <li>
                        <a target="_blank" href="http://facebook.com/#" class="social_icon facebook" title="facebook">
                            &nbsp;
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://twitter.com/#" class="social_icon twitter" title="twitter">
                            &nbsp;
                        </a>
                    </li>
                    <li>
                        <a href="mailto:contact@info.com" class="social_icon mail" title="mail">
                            &nbsp;
                        </a>
                    </li>
                </ul>
                <div class="latest_news_scrolling_list_container">
                    <ul>
                        <li class="category">برترین اخبار</li>
                        <li class="left"><a href="#"></a></li>
                        <li class="right"><a href="#"></a></li>
                        <li class="posts">
                            <ul class="latest_news_scrolling_list">
                                @RenderSection("TrendNEWS", false)

                            </ul>
                        </li>
                        @*<li class="date">
                                <abbr title="04 Apr 2014" class="timeago current">04 Apr 2014</abbr>
                                <abbr title="04 May 2014" class="timeago">04 May 2014</abbr>
                                <abbr title="04 June 2014" class="timeago">04 June 2014</abbr>
                            </li>*@
                    </ul>
                </div>
            </div>
        </div>
        <!--<div class="header_container small">
        <div class="header_container style_2">
        <div class="header_container style_2 small">
        <div class="header_container style_3">
        <div class="header_container style_3 small">-->
        <div class="header_container">
            <div class="header clearfix">
                <div class="logo">
                    <h1><a href="home.html" title="TJ NEWS">TJ NEWS</a></h1>
                    <h4>اخبار و مجله تی جی</h4>
                </div>
                <div class="placeholder">728 x 90</div>
            </div>
        </div>
        <!-- <div class="menu_container style_2 clearfix">
        <div class="menu_container style_3 clearfix">
        <div class="menu_container style_... clearfix">
        <div class="menu_container style_10 clearfix">
        <div class="menu_container sticky clearfix">-->
        <div class="menu_container clearfix">
            <nav>
                <ul class="sf-menu">
                    <li class="@Html.IsSelected(actions: "Index", controllers: "Home", cssClass:"selected")">
                        <a href="@Url.Action("Index","Home")" >
                            خانه
                        </a>
                    </li>
                    <li class="@Html.IsSelected(actions: "Post", controllers: "Home", cssClass:"selected")">
                        <a href="@Url.Action("Post","Home")" >
                            پست
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="mobile_menu_container">
                <a href="#" class="mobile-menu-switch">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </a>
                <div class="mobile-menu-divider"></div>
                <nav>
                    <ul class="mobile-menu">
                        <li class="@Html.IsSelected(actions: "Index", controllers: "Home", cssClass:"selected")">
                            <a href="@Url.Action("Index","Home")" title="خانه">
                                خانه
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>


        @RenderBody()

        <div class="footer_container">
            <div class="footer clearfix">
                <div class="row">
                    <div class="column column_1_3">
                        <h4 class="box_header">درباره TJ NEWS</h4>
                        <p class="padding_top_bottom_25">یک وب سایت خبری و مجله زیر نظر نیلوفر صالحی می باشد.</p>
                        <div class="row">
                            <div class="column column_1_2">
                                <h5>استاد راهنما</h5>
                                <p>
                                    جناب آقا دکتر شیخ الحرم 
                                </p>
                            </div>
                            @*<div class="column column_1_2">
                                <h5>Phone &amp; Fax</h5>
                                <p>
                                    Phone: 1-800-64-38<br>
                                    Fax: 1-800-64-39
                                </p>
                            </div>*@
                        </div>
                        <h4 class="box_header page_margin_top">ما را دنبال کنید</h4>
                        <ul class="social_icons dark page_margin_top clearfix">
                            <li>
                                <a target="_blank" title="" href="http://facebook.com/#" class="social_icon facebook">
                                    &nbsp;
                                </a>
                            </li>
                            <li>
                                <a target="_blank" title="" href="https://twitter.com/#" class="social_icon twitter">
                                    &nbsp;
                                </a>
                            </li>
                            <li>
                                <a title="" href="mailto:contact@info.com" class="social_icon mail">
                                    &nbsp;
                                </a>
                            </li>
                            <li>
                                <a title="" href="#" class="social_icon skype">
                                    &nbsp;
                                </a>
                            </li>
                            <li>
                                <a title="" href="#" class="social_icon instagram">
                                    &nbsp;
                                </a>
                            </li>
                            <li>
                                <a title="" href="#" class="social_icon pinterest">
                                    &nbsp;
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="column column_1_3">
                        <h4 class="box_header">آخرین اخبار</h4>
                        <div class="vertical_carousel_container clearfix">
                            <ul class="blog small vertical_carousel autoplay-1 scroll-1 navigation-1 easing-easeInOutQuint duration-750">
                                @RenderSection("LastNEWS",false)
                            </ul>
                        </div>
                    </div>
                    <div class="column column_1_3">
                        <h4 class="box_header">گالری</h4>
                        <div class="horizontal_carousel_container big page_margin_top">
                            <ul class="blog horizontal_carousel visible-1 autoplay-0 scroll-1 navigation-1 easing-easeInOutQuint duration-750">
                                @RenderSection("GalleryNEWS", false)
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row page_margin_top_section">
                    <div class="column column_3_4">
                        <ul class="footer_menu">
                            @RenderSection("CategoryNEWS", false)
                        </ul>
                    </div>
                    <div class="column column_1_4">
                        <a class="scroll_top" href="#top" title="رفتن به بالا صفحه">بالا</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="background_overlay"></div>

    <!--js-->
    <script type="text/javascript" src="~/Assets/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/jquery.ba-bbq.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/jquery-ui-1.11.1.custom.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="~/Assets/js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script type="text/javascript" src="~/Assets/js/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/jquery.transit.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/jquery.sliderControl.js"></script>
    <script type="text/javascript" src="~/Assets/js/jquery.timeago.js"></script>
    <script type="text/javascript" src="~/Assets/js/jquery.hint.js"></script>
    <script type="text/javascript" src="~/Assets/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="~/Assets/js/jquery.qtip.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="~/Assets/js/main.js"></script>
    <script type="text/javascript" src="~/Assets/js/odometer.min.js"></script>

</body>
</html>
