@model IEnumerable<NEWS.Web.Areas.Admin.ViewModels.UserViewModel>
@{
    ViewBag.Title = "UserList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section PluginStylePage
{
}
@section StylePage
{
}
@section PluginScriptPage
{
}
@section ScriptPage
{
    <script src="~/Areas/Admin/assets/layouts/layout2/scripts/layout.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/assets/layouts/layout2/scripts/demo.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
    
    <script>
        function deleteUser(sender, e) {
            //debugger;

            var usernameParam = sender.dataset.username;

            $.ajax({
                type: "POST",
                url: '/User/Delete',
                data: { username: usernameParam },
                dataType: "json",
                success: function (response) {
                    //debugger;
                    $('.portlet-body').load(window.location.href + ".portlet-body");
                    alert('کاربر حذف شد');

                },
                error: function (event, jqxhr, settings, thrownError) {
                    //debugger;
                    
                    alert("failed");
                }
            });
        }
    </script>

}


<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-red-flamingo"></i>
                    <span class="caption-subject font-red-flamingo bold uppercase">لیست کاربران</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="mt-element-card mt-card-round mt-element-overlay">
                    <div class="row">


                        @foreach (var item in Model)
                        {
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <div class="mt-element-ribbon">
                                    @if (item.Actived == true)
                                    {
                                        <div class="ribbon ribbon-vertical-left ribbon-border-dash-vert ribbon-color-success uppercase">
                                            <div class="ribbon-sub ribbon-bookmark"></div>
                                            <i class="fa fa-check"></i>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="ribbon ribbon-vertical-left ribbon-border-dash-vert ribbon-color-danger uppercase">
                                            <div class="ribbon-sub ribbon-bookmark"></div>
                                            <i class="fa fa-close"></i>
                                        </div>
                                    }
                                    
                                    <div class="mt-card-item ribbon-content" style="clear: none;">
                                        <div class="mt-card-avatar mt-overlay-1">
                                            @if (string.IsNullOrEmpty(item.ImageUrl))
                                            {
                                                <img src="~/Areas/Admin/assets/pages/img/avatars/unknown-user.png"/>
                                            }
                                            else
                                            {
                                                <img src="@Url.Content(item.ImageUrl)"/>
                                            }
                                            <div class="mt-overlay">
                                                <ul class="mt-info">
                                                    <li>
                                                        <a class="btn default btn-outline" data-toggle="tooltip" title="ویرایش کاربر" href="@Url.Action("Edit", "User", new {username = item.UserName})">
                                                            <i class="icon-magnifier"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="btn default btn-outline" data-toggle="tooltip" title="حذف کاربر" href="javascript:;" data-UserName="@item.UserName" onclick="deleteUser(this, event)">
                                                            <i class="icon-trash"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="mt-card-content">
                                            <h3 class="mt-card-name">@item.FirstName @item.LastName</h3>
                                            <p class="mt-card-desc font-grey-mint">@item.SelectedRole</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }



                    </div>

                </div>
            </div>
        </div>
    </div>
</div>